body {
    background-image: url("images/Final-Image-JPG.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-size: cover;
    background-position: center bottom;
    overflow: hidden;   
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}