@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

.standardBody {
    background-image: url("images/Final-Image-JPG.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.mainProjects {
    margin-top: 300px;
}

/* .bodygallery {
    margin: 0;
    background-color: rgb(60, 60, 60);
    padding: 50px 0px 100px 0px;
}

.bodyprojects {
    margin: 0;
    background-color: rgb(60, 60, 60);
    padding: 100px 0px 100px 0px;
} */

ul.navMenu > li {
    list-style: none;
    /* display: inline-block; */
}

/* a {
  text-decoration: none;
} */

/* .header {
  border-bottom: 1px solid #E2E8F0;
} */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
    color: #FFFFFF;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navItem {
    margin-left: 5rem;
}

.navLink {
    font-size: 1.6rem;
    font-weight: 400;
    color: #ffffff;
    /* display: inline-block; */
}

.navbar a,
.navbar button {
    text-decoration: underline 0.1em transparent;
    text-underline-offset: 0.3em;
    transition: text-decoration 500ms ease-out;
    /* transition: text-decoration-color 600ms text_underline-offset 600ms; */
}

.navbar a:hover,
a.activeNavLink,
.navbar button:hover {
    text-decoration-color: rgb(255, 255, 255, 1);
    text-underline-offset: 0.3em;
}

.navLogo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #ffffff;
}

.landingPageMain {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    margin: 0 2rem;
    text-align: center;
    position: absolute;
    /* left: 50%; */
    /* inset: 0 10rem 5rem 10rem; */
    bottom: 5rem;
    left: 2rem;
    right: 2rem;
    font-size: 2rem;
    /* width: 40%; */
    display: inline-block;
}

.cvAndDissLinks {
    padding: 1.5rem 0;
}

.cvAndDissLinks a {
    margin: 0 0.6em;
    /* font-size: 2rem; */
    color: #FFFFFF;
    text-decoration: underline;
}

.cvAndDissLinks a:hover {
    color: rgb(221, 179, 42);
}

.landingPageMain h1 {
    font-size: 5rem;
}

.landingPageProfile {
    margin: auto;
    max-width: 100rem;
}

@media only screen and (max-width: 768px) {

    .navMenu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        /* background-color: rgba(100, 100, 100, 0.05); */
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        /* box-shadow: */
        /* 0 10px 27px rgba(0, 0, 0, 0.05); */
    }

    .navMenu.active {
        left: 0;
    }

    .navItem {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    .landingPageMain {
        font-size: 1.5rem;
    }

    .landingPageMain h1 {
        font-size: 2.5rem;
    }
}

.bodygallery {
    background-color: rgb(60, 60, 60);
    /* padding: 50px 0px 100px 0px; */
}

.bodyprojects {
    background-color: rgb(60, 60, 60);
    /* padding: 100px 0px 100px 0px; */
}

/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.7;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.container {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

/* .artistsList {
    position: absolute;
    top: 100px;
    right: 100px;
    height: 300px;
    width: 20%;
    overflow: hidden;
    overflow-y: scroll;
}

.streamLengthInput {
    position: absolute;
    top: 100px;
    right: 700px;
} */